@{
    ViewData["Title"] = "Book";
    Layout = "Personal/Layout";
}
@model
<section id="books">
    <h1>Books Dashboard</h1>
    @if(Model == null)
    {
        <table class="table overflow-y-hidden">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Author</th>
                    <th scope="col">Isbn</th>
                    <th scope="col">Anno</th>
                </tr>
            </thead>
            <tbody class="overflow-y-scroll">
                <tr>
                    <td>1</td>
                    <td>Libro prova 1</td>
                    <td>Autore 1</td>
                    <td>123123321312</td>
                    <td>2023</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div class="d-flex justify-content-between align-items-center container">
            <h3 class="text-danger text-center mt-4">Nessun libro, aggiungine uno</h3>
            <a class="btn btn-success" asp-action="Create" asp-controller="Book"><i class="fa-solid fa-plus"></i></a>
        </div>
        
    }

</section>


